<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">   
    <title>History</title>
</head>
<body>
    <!-- <iframe src="head.html" frameborder="0"></iframe> -->

    <header>
        <div class="nav-left">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('history')}}">History</a>
            <a href="{{url_for('expense')}}">Expense</a>
            <a href="{{url_for('report')}}">Report</a>
        </div>
            
        <div class="nav-right">
            <img src="../static/images/image.png" alt="profile-menu" id="profile-icon">
                <div class="dropdown-content" id="dropdown-menu">
                    <a href="#">Tips</a>
                    <a href="#">Change Password</a>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </div>
        </div>
    </header>

    <div class="container">
        <div class="main-content">
            <div class="history">
                <h3 class="tab active" onclick="filterExpenses('All')">All</h3>
                <h3 class="tab" onclick="filterExpenses('Income')">Income</h3>
                <h3 class="tab" onclick="filterExpenses('Expense')">Expense</h3>
            </div>
            <div class="content">
                {% if expenses %}
                    <table id="expenseTable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Payee</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Mode</th>
                                <th>Category</th>
                                <th>Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            <tr data-type="{{ expense.transaction_type }}">
                                <td>{{ expense.date }}</td>
                                <td>{{ expense.payee }}</td>
                                <td>{{ expense.transaction_type }}</td>
                                <td>{{ expense.amount }}</td>
                                <td>{{ expense.payment_mode }}</td>
                                <td>{{ expense.category }}</td>
                                <td>{{ expense.budget }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No expenses found.</p>
                {% endif %}
            </div>
            
        </div>
    </div>
</body>
<script src="../static/app.js"></script>
</html>